.form-section{
background-color: #01295c;
}

.form-container{
    display: flex;
    
    gap: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgb(255 255 255 / 10%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.form-text{
    flex: 1;
}
.contact-form{
    flex: 1;
}
input , textarea{
    background-color: #0000;
    padding: 10px;
    width: 80%;
    border: 1px solid #ffffff4d;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}

.form-text h3{
color: #ff681e;
font-size: 3.4rem;
font-weight: 700;
margin-bottom: 32px;
}

.form-text p,ul li{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
   

}

.submit-btn {
    background-color: #FF681E;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 15px;
    font-weight: 600;
    width: 80%;
    max-width: 100%;
   
}

@media screen and (max-width:480px) {
.form-container{
    flex-direction: column;
}
.submit-btn, input , textarea {
     width: 100%;
}
}

@media screen and (max-width:767px) {
.form-container{
    flex-direction: column;
}
.submit-btn, input , textarea {
     width: 100%;
}
}

@media screen and (max-width:1024px) {
    .form-container{
    flex-direction: column;
}
.submit-btn, input , textarea {
     width: 100%;
}

.form-text h3 {
    
    font-size: 3.1rem;
}}